<div class="index-page">
  <div class="pure-g">
    <div class="pure-u-1-1">
      <a href="./index.html" class="page-header navigate">
        <header >
          <span>History of Wollongong</span>
          <span>in 101 Objects</span>
        </header>
      </a>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-1">
      <main class="index-box">
        <nav class="sort-control">
          <a href="/index-by-category.html"
             class="by-theme control-btn navigate
                    {{^byIndex}}active{{/byIndex}}">
            By Category
          </a>
          <a href="/index-show-all.html"
             class="by-index control-btn navigate
                    {{^byTheme}}active{{/byTheme}}">
            Show All
          </a>
          <a href="/presentation.html"
             class="by-index control-btn navigate">
            Presentation Mode
          </a>
        </nav>
        <article class="box theme {{^byTheme}}hidden{{/byTheme}}">
          {{#byTheme}}
            <section class="theme-row active">
              <header>
                {{tag}}
              </header>
              <article class="objects"><!--
                {{#objects}}
              --><a href="{{{pageUrl}}}" class="navigate"><!--
                 --><div class="pure-u-1 pure-u-md-1-2
                                pure-u-lg-1-3 pure-u-xl-1-4">
                      <figure class="thumbnail">
                        <img src="img/{{imgUrl}}" alt={{name}}
                             class="pure-img" />
                        <figcaption>{{name}}</figcaption>
                      </figure>
                    </div><!--
               --></a><!--
                {{/objects}}
           --></article>
            </section>
          {{/byTheme}}
        </article>
        <article class="box all {{^byIndex}}hidden{{/byIndex}}"><!--
          {{#byIndex}}
         --><div class="pure-u-1 pure-u-lg-1-2 pure-u-xl-1-3">
              <a href="{{{url}}}" class="navigate link large">
                <div class="text-box">{{index}}.{{name}}</div>
              </a>
            </div><!--
          {{/byIndex}}
     --></article>
      </div>
    </main>
  </div>
</div>
