<div id="object-page">
  <div class="pure-g">
    <div class="pure-u-1-1">
      <a href="./index.html" class="page-header navigate">
        <header>
          <span>History of Wollongong</span>
          <span>in 101 Objects</span>
        </header>
      </a>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-3-4 pure-u-xl-5-6">
      <article class="obj-detail">
        <header>{{name}}</header>
        <section>
          <figure>
            <img src="img/{{img.url}}" alt={{name}} class="pure-img"
                 height="{{img.height}}" width="{{img.width}}"
                 style="height:{{img.height}}px; width:{{img.width}}px"/>
          </figure>
          {{#description}}
            <p>{{{paragraph}}}</p>
          {{/description}}
          <div rel="author" class="author">by {{author}}</div>
        </section>
      </article>
    </div><!--
 --><div class="pure-u-1 pure-u-md-1-4 pure-u-xl-1-6">
      <aside class="obj-list">
        {{#objects}}
          <a href="{{{url}}}" class="navigate">
            <div>{{index}}.{{name}}</div>
          </a>
        {{/objects}}
      </aside>
    </div>
  </div>
</div>
