$primary-color: #800000;
$primary-inverse-color: #fff;
$focus-color: #d8d8d8;

@mixin active-state {
  background-color: $primary-color;
  color: $primary-inverse-color;
}

@mixin inactive-state {
  background-color: $primary-inverse-color;
  color: $primary-color;
}

@mixin focus-state {
  background-color: $focus-color;
}

$slide-font-color: rgb(102, 102, 102);
$slide-font-shadow-color: rgba(0, 0, 0, .1);
$slide-bg-color: #fff;
