.index-page .page-header {
  text-decoration: none;
  font-family: 'Lobster', cursive;
  font-size: 72px;
  text-align: center;
  @include inactive-state;

  header {
    padding: 1em 0;
  }

  span {
    display: block;
  }

  &:visited {
    @include inactive-state;
  }
}

.index-box {
  margin-bottom: 15em;

  .sort-control {
    width: 100%;
    border-bottom: 5px solid $primary-color;

    &::after {
      content: " ";
      display: block;
      clear: both;
    }
  }

  .control-btn {
    float: right;
    cursor: pointer;
    font-size: 1.5em;
    text-decoration: none;
    padding: .5em;
    border: 0;
    @include inactive-state;

    &.active {
      @include active-state;
    }

    &:not(.active):hover {
      @include focus-state;
    }
  }
}

.theme-row {
  header {
    position: relative;
    cursor: pointer;
    font-size: 1.5em;
    padding: .5em 2.5em .5em 1em;
    border-bottom: 5px solid;
    @include inactive-state;
  }

  header::after {
    content: "";
    position: absolute;
    right: 1em;
    border-left: .5em solid transparent;
    border-right: .5em solid transparent;
  }

  .objects {
    overflow: hidden;
  }

  &.active {
    header {
      @include active-state;
    }

    header::after {
      border-bottom: .5em solid $primary-inverse-color;
      bottom: 1em;
    }

    .objects {
      max-height: 999px;
      transition: max-height 2s ease-out;
    }
  }

  &:not(.active) {
    header:hover {
      @include focus-state;
    }

    header::after {
      border-top: .5em solid $primary-color;
      top: 1em;
    }

    .objects {
      max-height: 0;
      transition: max-height 0s;
    }
  }

  .thumbnail {
    cursor: pointer;
    padding: 10px;
    margin: 0;

    figcaption {
      text-align: center;
      margin: .5em;
      @include inactive-state;
    }
  }

  .thumbnail:hover {
    @include focus-state;

    figcaption {
      @include focus-state;
    }
  }
}
